<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>

		<listener class-name="com.ds.APITestingFramework.rough.ExtentListeners" />

	</listeners>


	<test name="Test">
		<classes>
			<class name="com.ds.APITestingFramework.testcases.CreateCustomerTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
